package views

import (
"github.com/barturba/ticket-tracker/models"
)

templ ConfigurationItems(configurationItems []models.ConfigurationItem) {
for _, configurationItem := range configurationItems{
<option value={configurationItem.ID.String()}>{ configurationItem.Name }</option>
}
}