package views
import(
"github.com/google/uuid"

)

// Check if user is logged in here
templ Index(userID uuid.UUID) {
<!DOCTYPE html>
<html lang="en">
@HeaderComponent("TicketTracker")

<body>
    // LOGIN or DASHBOARD
    if (userID == uuid.UUID{}) {
    <div>LOGIN FORM</div>
    @LoginForm()
    } else {
    <div>DASHBOARD</div>
    }
    // @ContentPage(title, body)
    @ScriptComponent()
</body>

</html>
}