package views

// Check if user is logged in here
templ IndexComponent() {
<!DOCTYPE html>
<html lang="en">
@HeaderComponent("TicketTracker")

<body>
    @NavigationComponent()
    // @ContentPage(title, body)
    @ScriptComponent()
</body>

</html>
}