package views

templ LoginForm() {
<form hx-swap="innerHTML" hx-post="/v1/login" hx-ext="json-enc" hx-target="body" hx-push-url="true">

    email: <input type="text" name="email">
    password: <input type="password" name="password">

    <button type="submit">Login</button>
</form>
}